.app{
  text-align: center;
}
.Form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* text-align: center; */
 padding: 0.2rem;
}
button{
  margin: 0.4rem;
  /* align-items: start; */
}

.main{
  display: flex;
  flex-direction: row;
  text-align: center;
}
h1{
  color: blue;
}
h2{
  color: #191953;
}
label {
  display: inline-block;
  margin: 0.2rem;
  width: 150px;
  text-align: right;

}


